<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css"/>
		<style>
			ul {
				font-size: 14px;
				color: #8f8f94;
			}
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">卷验-按卷</h1>
			<button class=" mui-pull-right mui-btn-link"><span class="mui-icon mui-icon-redo"></span></button>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>入库日期</label>
			    	<input type="date" class="mui-input-clear" name="rukuDate">
			    </div>
			    <div class="mui-input-row">
			        <label>仓库类别</label>
			        <input type="text" class="mui-input-clear" id="cangkuId"  placeholder="请选择仓库">
			        <input type="hidden"  id="kuweiId" name="kuweiId" value="">
			    </div>
			    <div class="mui-input-row">
			        <label>库位</label>
			        <input type="text" class="mui-input-clear" id="kuquIds" placeholder="请选择库位" readonly="readonly">
			        <input type="hidden" name="kuquId" id="kuquId" />
			    </div>
			    <div class="mui-input-row">
			    	<label for="">入库信息</label>
			    	<textarea name="" rows="5" cols=""></textarea>
			    </div>
			    <div class="mui-button-row">
			        <button type="button" class="mui-btn mui-btn-primary" >确认入库</button>
			    </div>
			</form>
		</div>
		<script src="../config.js"></script>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="../js/mui.picker.js"></script>
		<script type="text/javascript" src="../js/mui.poppicker.js"></script>
		<script src="../js/app.js"></script>
		<script>
			mui.init();
			var picker = new mui.PopPicker();
			document.querySelector("#cangkuId").addEventListener("tap",function(){
				picker.setData(getMlCangku());
		  		picker.show(function(items){
	            	document.getElementById('cangkuId').value=items[0].value;
	            	document.getElementById('kuweiId').value=items[0].id;
	          	});
	        });
	        document.querySelector("#kuquIds").addEventListener("tap",function(){
	        	var cangkuId=document.getElementById('kuweiId').value;
	        	if(!cangkuId){
	        		mui.toast('请先选择仓库');
	        		return false;
	        	}
				picker.setData(getMlKuwei(cangkuId));
		  		picker.show(function(items){
	            	document.getElementById('kuquIds').value=items[0].value;
	            	document.getElementById('kuquId').value=items[0].id;
	          	});
	        });
	        
			mui.plusReady(function(){
				
			});
		</script>
	</body>

</html>